asn1crypto==0.24.0
bcrypt==3.1.4
cffi==1.11.5
click==6.7
cryptography==2.2.2
Flask==0.12.2
Flask-SSLify==0.1.5
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
passlib==1.7.1
pyAesCrypt==0.3
pycparser==2.18
six==1.11.0
Werkzeug==0.14.1
